    
    body {
        text-align: center;
        background-color: #222831;
        margin-top: 10%;
        
    }


    h1{
        display: inline;
        font-family: 'Metal Mania';
        font-size: 100px;
        color: #29a19c;
        font-weight: lighter;
        padding-top: 8%;

    }

    img {
        display: inline-block;
        margin: auto;
    }
    

    div p {
        font-family: 'Press Start 2P';
        color: #a3f7bf;
        margin-top: 40px;
        
    }
    .button {
    font-family: 'Press Start 2P';
    border: none;
    border-radius: 15px;
    color: #a3f7bf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: rgb(25, 27, 31);
    
    }

    footer {
      font-family: 'Press Start 2P';
      font-size: 10px;
      background-color: #29a19c;
      color: #222831;
      position: absolute;
      bottom: 0px;
      align-items: center;
      padding: 3px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    
