    
    body {
        text-align: center;
        background-color: #222831;
        margin-top: 6%;
        
    }


    h1{
        display: inline;
        font-family: 'Metal Mania';
        font-size: 100px;
        color: #29a19c;
        font-weight: lighter;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    img {
        display: inline-block;
        margin: auto;
    }
    

    .intro {
        font-family: 'Press Start 2P';
        color: #a3f7bf;
        margin: 40px;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 40px;
    }


    .button {
        font-family: 'Press Start 2P';
        border: none;
        border-radius: 15px;
        color: #a3f7bf;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        background-color: rgb(25, 27, 31);
        margin-bottom: 80px;
        cursor: pointer;
    
    }

    footer {
        font-family: 'Press Start 2P';
        font-size: 10px;
        background-color: #29a19c;
        color: #222831;
        position: fixed;
        bottom: 0;
        left: 0;
        align-items: center;
        width: 100%;
        padding: 10px;
        
    }


    @media (max-width: 1000px) { 

        header {
            display: flex;
        }
        
        h1{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 70px;
            padding: 5px;
        }
    
        .histbox {
                width: 100%;
                box-sizing: border-box;
        }
        
        div p {
            width: auto;
            
            
        }
        
    
